/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --primary-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-shadow-color:#ff0070;
  --on-accent-bg-color: #000028;
  --hero-title-color: #db00ff;
}

html.theme-dark .header__decor {
  display: block;
}
