/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: var(--background-image-dark);
  --background-color: var(--primary-color-dark);
  --accent-color: var(--accent-color-dark);
  --decor-color: var(--accent-color-dark);
  --menu-color: var(--accent-color-dark);
  --heading-color: var(--highlight-color-dark);
  --title-color: var(--accent-color-dark);
  --title-on-bg: var(--primary-color-dark);
  --title-bg: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
}

html.theme-dark .header__decor {
  display: block;
}
