/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --accent-shadow-color: #ff8dcb;
  --on-accent-bg-color: #353430;
  --hero-title-color: #ffc2e6;
}

html.theme-light .header__decor {
  display: none;
}



@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #353430;
    --accent-shadow-color: #ff8dcb;
    --on-accent-bg-color: #353430;
    --hero-title-color: #ffc2e6;
  }

  .header__decor {
    display: none;
  }

}
