/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: var(--background-image-light);
  --background-color: var(--primary-color-light);
  --accent-color: var(--accent-color-light);
  --decor-color: var(--text-color-light);
  --menu-color: var(--text-color-light);
  --heading-color: var(--highlight-color-light);
  --title-color: var(--text-color-light);
  --title-on-bg: var(--text-color-light);
  --title-bg: var(--accent-color-light);
  --text-color: var(--text-color-light);
}

html.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: var(--background-image-light);
    --background-color: var(--primary-color-light);
    --accent-color: var(--accent-color-light);
    --decor-color: var(--text-color-light);
    --menu-color: var(--text-color-light);
    --heading-color: var(--highlight-color-light);
    --title-color: var(--text-color-light);
    --title-on-bg: var(--text-color-light);
    --title-bg: var(--accent-color-light);
    --text-color: var(--text-color-light);
  }

  .header__decor {
    display: none;
  }
}
