/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
  font-weight: 400;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: var(--space);
}

.header__decor {
  color: var(--decor-color);
  position: absolute;
  right: 38px;
  top: var(--space);
}

.header__decor::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decor-color);
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 42px;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  position: absolute;
  bottom: var(--space);
  left: var(--space);
}

.decorated-zone::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  position: absolute;
  top: var(--space);
  right: var(--space);
}

.header__theme-menu {
  color: var(--menu-color);
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding-inline: 13px;
  padding-block-end: 4px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--menu-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  pointer-events: none;
}

.heading {
  font-size: var(--heading-font-size);
  line-height: 83%;
  color: var(--heading-color);
  font-weight: bold;
}

.header .heading {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  margin-block-end: 13px;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  max-inline-size: 364px;
  justify-self: end;
}

.content {
  display: grid;
  gap: 49.5px;
  padding-block-start: 38px;
  padding-block-end: 40px;
  padding-inline: var(--space);
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.title-accent {
  color: var(--title-color);
}

.title-decor {
  background-color: var(--title-bg);
  color: var(--title-on-bg);
}

.title-regular {
  font-weight: 400;
}

.content__card-text {
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1 px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: var(--space);
}

.gallery__image {
  max-inline-size: 100%;
  display: block;
  block-size: auto;
  inline-size: 100%;
  object-fit: cover;
}

.footer .heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
    padding-inline-end: var(--space);
    padding-block: var(--space);
  }

  .header__decor {
    right: 49px;
  }

  .header__description {
    margin-block-end: 0;
  }

  .content {
    padding-block: 60px;
    gap: 80px;
  }

  .content__section--type-a {
    grid-template-columns: 1fr 65%;
  }

  .content__section--type-a .content__subtitle {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
  }

  .content__section--type-a .title-accent {
    grid-column: 1;
    grid-row: 1/3;
  }

  .content__section--type-a .content__card {
    grid-column: 2;
  }

  .content__section--type-b {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  .content__section--type-b .title {
    grid-row: 1;
    grid-column: 1;
  }

  .content__section--type-b .content__card {
    grid-column: 1/4;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  .gallery .title {
    grid-column: span 3;
    grid-row: 1;
    align-self: start;
  }

  .gallery__image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    display: block;
  }

  .gallery .gallery__image:nth-child(2) {
    grid-column: span 2;
    grid-row: 2;
  }

  .gallery .gallery__image:nth-child(3) {
    grid-column: 3;
    grid-row: 2/4;
  }

  .gallery .gallery__image:nth-child(4) {
    grid-row: span 2;
  }

  .gallery .gallery__image:nth-child(6) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-inline-start: var(--space);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .content__section--type-a {
    grid-template-columns: 1fr 66%;
  }

  .content__section--type-b .content__card {
    grid-row: 2;
    grid-column: auto;
  }
}
