/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-size: 18px;
  font-family:'IBM Plex mono', sans-serif;
  line-height: 23.4px;
  font-weight: 400;
  padding-inline:10px;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  block-size: 100vh;
  min-block-size: 668px;
  display:grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__decor{
  color: var(--accent-color);
  position:absolute;
  right:38px;
  top:10px;
}

.header__decor::after{
  content:"";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  position:absolute;
  border-radius: 50%;
  top: 7px;
  left: 50px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone{
  position:relative;
}

.decorated-zone::after{
  content:"";
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end:1px solid var(--accent-color);
  position:absolute;
  bottom:10px;
  left:0;
}

.decorated-zone::before{
  content:"";
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start:1px solid var(--accent-color);
  position:absolute;
  top:10px;
  right:0;
}

.header__theme-menu{
  color:var(--accent-color);
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list{
  display:flex;
  flex-direction: column;
  gap: 10px;
}
 

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding-inline: 13px;
  padding-block: 1.5px;
}

.heading{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--highlight-color);
  
  font-weight: bold;
}

.header .heading{
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description{
  margin-block-end:13px;
  align-self: center;
  font-weight: 700;
  font-size:18px;
}

.content{
  display:grid;
  gap:50px;
  padding-block: 40px;
}

.content__section{
  display:grid;
  gap:20px;
}



.content__article{
  display:flex;
  flex-direction:column;
  gap:10px;
}


.title{
  font-size:18px;
  font-weight: 700;
}

.title-accent{
  color: var(--accent-color);
}

.title-decor{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.title-regular{
  font-weight: 400;
}


.content__paragraph{
  color:var(--text-color)
}

.link{
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover{
  text-decoration: underline var(--text-color);
}

.gallery{
  display:grid;
  gap:10px;
}

.content__image{
  max-width: 100%;
  display:block;
  height:auto;
}

.footer .heading{
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer{
  block-size: 100vh;
  min-block-size: 668px;
  display:flex;
  justify-content: center;
  align-items: center;
}
