:root {
  --background-image: url(../images/cover-image-dark.png);
  --primary-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --highlight-color: #db00ff;

  --space: 10px;
  --heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --space: 20px;
    --heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
